extends components/plantilla.pug
block codigo_debajo
	section.intro
		.intro__imagen: img(src="images/imagen.png")
		.intro__contenido
			h2 #{titulos[0]}
			p 
				| #{parrafo}
				span #{text_span}
			a.boton Leer Mas
	//- ul 
	//- 	each titulox in titulos
	//- 		li #{titulox}
	main.contenido 
		+caja("imagen.png",titulos[1],"Lorem ipsum sit amet")
		+caja("imagen.png",titulos[2],"Lorem ipsum sit amet")
		+caja("imagen.png",titulos[3],"Lorem ipsum sit amet")